<!DOCTYPE html>
<html>
<head>
    <title>Prediction History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>📊 Prediction History</h1>

    <div class="table-wrapper">
        <table class="history-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>URL</th>
                    <th>RF Result</th>
                    <th>RF Confidence</th>
                    <th>DL Result</th>
                    <th>DL Confidence</th>
                    <th>Timestamp</th>
                </tr>
            </thead>

            <tbody>
            {% for row in records %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td class="url-cell">{{ row[1] }}</td>

                    <td class="{{ 'phishing' if row[2]=='Phishing' else 'legit' }}">
                        {{ row[2] }}
                    </td>

                    <td>{{ row[3] }}%</td>

                    <td class="{{ 'phishing' if row[4]=='Phishing' else 'legit' }}">
                        {{ row[4] }}
                    </td>

                    <td>{{ row[5] }}%</td>

                    <td>{{ row[6] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <a href="/dashboard" class="back-btn">⬅ Back to Dashboard</a>
</div>



<footer>
    © 2026 Phishing Website Detection System <br>
    Developed by Sai Thakshitha Vankadhara
</footer>

</body>
</html>